@keyframes vmarkdown-preview-active {
    0% {
        background-color: rgba(232, 242, 255, 1);
    }
    100% {
        background-color: rgba(232, 242, 255, 0);
    }
}

.vmarkdown-preview {

    padding-bottom: 100vh;

    .vmarkdown-preview-active {
        animation:vmarkdown-preview-active 2s;
        animation-timing-function: ease-in;
    }
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}
